<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RB Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./assets/images/favicon1mincom.png" type="image/x-icon"/>
</head>
<body>
    <h1>RB Library</h1>
    <section>
        <img id="sampleImage" src="./assets/images/example2.png"/>
        <canvas id="sampleCanvas" width="300" height="300"></canvas>
    </section>
</body>
</html>
