@import 'templates.scss';
@import 'variables.scss';

@font-face {
    font-family: myOswald;
    src: url('./../fonts/Oswald-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    color: $dark;
    font-family: myOswald, sans-serif;
    > section {
        width: 100%;
        > * {
            margin: 10px;
        }
    }
}
* {
    box-sizing: border-box;
}
img, canvas {
    border: 1px solid $dark;
}

.vpTest {
    border: 1px solid red;
    color: red;
}

.someClass1 {
    border: 2px solid pink;
}
.someClass2 {
    color: pink;
}